# dependencies
node_modules/

# next.js
.next/

# debug logs
*.log

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# secret env
.env.local

# local storage
images/
local-db/
contents/**/session.json

# OpenSpec
.claude/commands/opsx/
.claude/skills/openspec-*/
openspec/changes/
