# dependencies
node_modules/

# next.js
.next/

# debug logs
*.log

# typescript
*.tsbuildinfo
next-env.d.ts

# secret env
.env.local

# local storage
contents/**/session.json
workspace/**/session.json

# OpenSpec
.claude/commands/opsx/
.claude/skills/openspec-*/
openspec/changes/
